defaults:
  - /agent/sac@_here_
  - dynamics_model: deep_ensemble
  - model_train: deep_ensemble

_target_: erl_lib.agent.svg.SVGAgent
term_fn: ???
normalize_io: True
buffer_size: 1000000
max_batch_size: 100000
buffer_device: cpu
actor_reduction: mean
init_alpha: 0.1
critic_lr_ratio: 1.0
# SVG specific
retain_model_buffer_iter: 10
rollout_horizon: 20
rollout_freq: 20
training_rollout_horizon: 5
mve_horizon: 5
learned_reward: True
normalized_loss: False
split_validation: True
num_sample_weights: ${agent.dynamics_model.num_members}
critic:
  bound_factor: 1.0
# Common
iters_per_epoch: 10
steps_per_iter:
seed_iters:
