defaults:
  - /agent/sac_new@_here_
  - dynamics_model: deep_ensemble
  - model_train: deep_ensemble

_target_: erl_lib.agent.svg.SVGAgent
term_fn: ???
normalize_input: True
normalize_output: True
normalize_delta: True
buffer_size: 1000000
max_batch_size: 100000
warm_start: True
buffer_device: cpu
discount: 0.995
actor_reduction: mean
init_alpha: 0.1
critic_lr_ratio: 1.0
num_critic_iter:
bounded_critic: True
scaled_critic: True
# SVG specific
rollout_horizon: 20
rollout_freq: 20
training_rollout_horizon: 5
mve_horizon: 1
learned_reward: True
split_validation: True
num_sample_weights: ${agent.dynamics_model.num_members}
# Uncertainty-Aware Rollout Adaptation
uara: False
zeta_quantile: 0.95
uara_xi: 2.0
lr_kappa: 0.0003
# Common
iters_per_epoch: 10
steps_per_iter:
seed_iters:
